<main>
    <h3>ジャンル編集</h3>
    
    <div>
        <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <p>ジャンル名</p>
        <p><%= f.text_field :name %></p>
        <p><%= f.submit '変更を保存' %></p>
        <% end %>
    </div>
</main>