<div class="container">
<div class="col-12">
    
    <h3 class="text-secondary my-3"><strong>歯ブラシの投稿一覧</strong></h3>
    
    <div class="container">
    <div class="row">    
        <div class="col-5">
          <%= render 'search', keyword: @keyword %>
        </div>
        
        <div class="col-7">
            
            <div>
                <div class="container pb-3 mx-5">
                  <%= render 'list', submissions: @submissions %>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    
</div>
</div>

